<%- include(`../partials/header`) -%>

<h1>Home</h1>
<p><%=sample%></p>

<div class="posts d-grid gap-4">
    <%postsArray.forEach(function(post,index){%>
    <%if (index===0 || index%3===0) {%>
    <div class="row">
        <%};%>
        <div class="col-sm-4">
            <div class="posts--thumb card col-12">
                <!-- <div class="posts--thumb card"> -->
                <img src="/images/greenery-1.jpg" alt="greenery-1" class="card-img">
                <div class="card-body">
                    <h5 class="card-title"><%=post.title%></h5>
                    <p class="card-text"><%=post.body%></p>
                    <!-- <p><i><%=JSON.stringify(post)%></i></p> -->
                    <a href="#" role="button" class="btn btn-primary col-12">Go to Post</a>
                </div>
            </div>
        </div>
        <%if ((index+1)%3===0 || postsArray[index+1] === undefined) {%>
    </div>
    <%};%>
    <%});%>

</div>



<%- include(`../partials/footer`) -%>